* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/*Navbar styling*/
.navbar {
  height: 72px;
  padding-left: 64px;
  padding-right : 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.company-name {
  height : 47px;
  font-weight: 800;
  font-size: 30px;
  line-height: 150%;
  letter-spacing: 0%;
  color :#016630 ;
  z-index: 1;
}

.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
  z-index: 1;
}

.nav-links li a{
  padding : 5px;
  text-decoration: none;
  color: #162456;
  font-size: 16px;
  line-height: 150%; 
  font-weight: 400;
}

.nav-links li a:hover{
    background-color: #016630;
    opacity: 50%;
    border-radius : 10px;
    color : white;
}

/* Navbar Dropdown */
.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  background: transparent;
  list-style: none;
  padding: 8px 0;
  border-radius : 8px;
  border : 1px solid #016630;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  display: none;
}

.dropdown-menu li a {
  display: block;
  padding: 8px;
}

/* Show on hover */
.dropdown:hover .dropdown-menu {
  display: block;
}

.nav-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  z-index: 1;
}

.search-icon {
  width: 38px;
  height: 38px;
  cursor: pointer;
}

.shop-btn {
  height : 49px;
  width : 145px;
  background: linear-gradient(to bottom, #032E15, #016630);
  color: white;
  padding: 16px 28px;
  border: none;
  cursor: pointer;
  border-radius : 500px
}

/*landing-conatiner*/
.landing-container {
  height: calc(100vh);
  width : 100%;
  display: flex;
  align-items: center;
  position: absolute;
  top : 0;
  left : 0;
  padding: 60px;
  background-image: url("../assets/landing-conatiner-img.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.landing-container-left{
  flex: 1;
}

.landing-container-left h1 {
  margin: 20px 0;
  font-size: 48px;
}

.badge {
  background: #2e7d32;
  color: white;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 12px;
}

.stats {
  display: flex;
  gap: 30px;
  margin: 20px 0;
}

.stats strong {
  font-size: 28px;
  color: #2e7d32;
}

.cta {

}

/* @media (max-width: 1024px) {
  .navbar {
    padding: 0 20px;
  }

  .nav-links {
    gap: 20px;
  }

  .landing-container {
    padding: 40px;
  }

  .landing-container-left h1 {
    font-size: 40px;
  }

  .stats strong {
    font-size: 24px;
  }
} */

@media (max-width: 768px) {
  /* NAVBAR */
  .navbar {
    height: auto;
    padding: 16px;
    flex-wrap: wrap;
  }

  .logo {
    font-size: 24px;
  }

  .nav-links {
    display: none; /* hide menu for now */
  }

  .landing-container {
    height :80%;
    border-radius : 0 0 32px 32px;
    margin-top: 0;
    padding: 20px;
    background-position: left;
  }

  .landing-container-left h1 {
    font-size: 24px;
  }

  /* .shop-btn {
    height : 40px;
    padding : 16px 28px;
  } */


  /* .cta {
    width: 100%;
    margin-top: 16px;
  } */
}


