* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/*Navbar styling*/
.navbar {
    height: 72px;
    padding-left: 64px;
    padding-right: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.company-name {
    height: 47px;
    font-weight: 800;
    font-size: 30px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #016630;
    z-index: 1;
}

.nav-links {
    display: flex;
    gap: 30px;
    list-style: none;
    z-index: 1;
}

.nav-links li a {
    padding: 5px;
    text-decoration: none;
    color: #162456;
    font-size: 16px;
    line-height: 150%;
    font-weight: 400;
}

.nav-links li a:hover {
    background-color: #016630;
    opacity: 50%;
    border-radius: 10px;
    color: white;
}

/* Navbar Dropdown */
.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    background: transparent;
    list-style: none;
    padding: 8px 0;
    border-radius: 8px;
    border: 1px solid #016630;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: none;
}

.dropdown-menu li a {
    display: block;
    padding: 8px;
}

/* Show on hover */
.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    z-index: 1;
}

.search-icon {
    width: 38px;
    height: 38px;
    cursor: pointer;
}

.shop-btn {
    height: 49px;
    width: 145px;
    background: linear-gradient(to bottom, #032E15, #016630);
    color: white;
    padding: 16px 28px;
    border: none;
    cursor: pointer;
    border-radius: 500px
}

/*landing-conatiner*/
.landing-container {
    height: calc(100vh);
    width: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    padding: 60px;
    background-image: url("../assets/landing-conatiner-img.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

.landing-container-left {
    flex: 1;
}

.badge {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background: linear-gradient(180deg, #032E15 0%, #016630 100%);
    color: white;
    padding: 8px 16px;
    border-radius: 1000px;
    font-size: 16px;
}

.badge-award-img {
    width: 24px;
    height: 24px;
}

.landing-container-left h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 112%;
    letter-spacing: -1.33px;
    margin: 20px 0;
    color: #032E15;
}

.stats {
    display: flex;
    gap: 100px;
    margin: 20px 0;
}

.gradient-color {
    background: linear-gradient(180deg,
            #032E15 0%,
            #016630 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.stats strong {
    font-weight: 700;
    font-size: 72px;
    line-height: 100%;
    letter-spacing: 0px;
}

.stats p {
    font-weight: 300;
    font-size: 22px;
    line-height: 104%;
    letter-spacing: 0px;
}


@media (max-width: 1024px) {
  .nav-links , .nav-actions {
        display: none;
    }
}

@media (max-width: 768px) {
    .navbar {
        height: auto;
        padding: 16px;
        flex-wrap: wrap;
    }

    .nav-links , .nav-actions {
        display: none;
    }

    .landing-container {
        height: 80%;
        border-radius: 0 0 32px 32px;
        padding: 20px;
        background-position: left;
    }

    .badge {
        padding: 4px 8px;
        border-radius: 1000px;
        font-size: 12px;
    }

    .badge-award-img {
        width: 16px;
        height: 16px;
    }

    .landing-container-left h1 {
        font-weight: 400;
        font-size: 30px;
    }

    .stats {
        gap: 20px;
    }

    .stats strong {
        font-weight: 400;
        font-size: 32px;
    }

    .stats p {
        font-weight: 200;
        font-size: 12px;
    }

}
